{% extends '::base.html.twig' %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" media="all" href="/bundles/nmotionnmotion/css/common.css"/>
{% endblock %}

{% block body %}
<div id="login-wrapper">
    <form id="form_login" action="{{ path("_profiler_login_check") }}" method="post" autocomplete="on" class="form">
        <img src="/bundles/nmotionnmotion/img/logo.png"/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="input-group">
            <input type="email" id="username" name="_username" value="{{ last_username }}" required="required"
                   placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/>
            <input type="password" id="password" name="_password" required="required"
                   placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"/>

            <p>
                <a href="{{ path("nmotion_nmotion_forgot_password") }}">{{ 'security.user.forgot'|trans({}, 'NmotionNmotionBundle') }}</a>
            </p>
        </div>
        <div id="login_control_bar">
            <input type="submit" id="_submit" class="button" name="_submit"
                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>

            {% if error %}
            <div class="error_message">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
