<link type="text/css" rel="stylesheet" media="all" href="/bundles/nmotionnmotion/css/common.css" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/bundles/tigerjs/js/components/json2/json2.js"></script>
<script type="text/javascript" >
    $(document).ready(function() {
        $('#form_forgot_password').submit(function() {
            $('#form_errors').hide();
            $.ajax({
                url: "{{ path('api_v2_post_users_forgot', {'_format': 'json'}) }}",
                type: 'POST',
                data: JSON.stringify({ "email": $('#email').val() }),
                contentType: 'application/json',
                headers: {
                    'CONTENT_TYPE': 'application/json'
                }
            }).fail(function(jqXHR) {
                errorObj = $.parseJSON(jqXHR.responseText);
                $('#form_errors').html(errorObj.errors.join("<br/>")).show();
            }).done(function() {
                alert("Email with link to change password is sent to address provided");
                window.location.href = "{{ path('nmotion_nmotion_default_index') }}";
            });
            return false;
        });
    });
</script>

<div id="login-wrapper">
    <form id="form_forgot_password" action="" method="post" class="form">
        <img src="/bundles/nmotionnmotion/img/logo.png" />
        <div class="wrappter-title" >
            <p>{{ 'security.form.forgot.enterYourEmail'|trans({}, 'NmotionNmotionBundle') }}</p>
        </div>
        <div class="input-group">
            <input type="email" id="email" name="_email" value="" required="required" placeholder="{{ 'form.email'|trans({}, 'NmotionNmotionBundle') }}" />
            <p>&nbsp;</p>
        </div>
        <div id="restore_control_bar">
            <input type="submit" id="reset_password_submit" class="button" name="_submit" value="{{ 'form.submit'|trans({}, 'NmotionNmotionBundle') }}" />
            <div id="form_errors" class="error_message" ></div>
        </div>
    </form>
</div>