<html>
    <head>
        <title>{{ result.status }}</title>
    </head>
    <body>
        <h1 id="status">{{ result.status }}</h1>
        <div id="transaction" style="visibility:hidden">{{ result.transaction }}</div>
        <div id="ticket" style="visibility:hidden">{{ result.ticket }}</div>
        <div id="cardNumberMasked" style="visibility:hidden">{{ result.cardNumberMasked }}</div>
    </body>
</html>
